# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Marat\Documents\GitHub\0. python\youtube_parsing\myyoutube\parsing\management\commands\parsing_subs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
